.header-card {
  background: black;
  align-content: center;
  justify-content: center;
  border: solid;
  height: 750px;
  width: 100%;
  border: none;
}

.header-card-body {
  color: white;
  text-align: center;
  align-self: center;
}
