/*********************************** NAVBAR ***********************************/
:root {
  --primary-white: #fff;
  --primary-dark: rgba(255, 255, 255, 0);
  --light-purple: rgb(136, 113, 145);
}
.navbar > .container-fluid {
  margin-right: 3rem;
  margin-left: 3rem;
}
.navbar-collapse {
  justify-content: end;
}
.navbar-nav > li > .navbar-link {
  color: var(--primary-white) !important;
  font-size: small;
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  /* change if a.active & a.focus change */
  border-top: 0.04rem solid var(--primary-dark);
}

.navbar-nav > li > .navbar-link.active,
.navbar-nav > li > .navbar-link:focus {
  border-top: 0.2rem solid var(--light-purple);
}
/* .navbar-toggler-icon {
  background: var(--light-purple);
  border-radius: 50px;
} */

.navbar-toggler-icon {
  width: 30px;
  height: 3px;
  background-color: var(--light-purple);
  display: block;
  transition: all 0.2s;
  margin: 5px;
}
