/*********************************** NAVBAR ***********************************/
:root {
  --primary-white: #fff;
  --primary-dark: rgba(255, 255, 255, 0);
  --light-purple: rgb(136, 113, 145);
}

.navbar-collapse {
  justify-content: end;
}
.navbar-nav > li > a {
  color: var(--primary-white) !important;
  font-size: small;
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  /* change if a.active & a.focus change */
  border-top: 0.04rem solid var(--primary-dark);
}

.navbar-nav > li > a.active,
.navbar-nav > li > a:focus {
  border-top: 0.2rem solid var(--light-purple);
}
